#active-decentralizeDiplomaManagement{
    background-color: #00abeb;
}

#body-decentralizeDiplomaManagement{
    padding-top: 10px;
    padding-bottom: 20px;
    /* border: 1px solid rgb(184, 184, 184); */
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

