#body-useraccountmanagement{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

#add-user-account-useraccountmanagement{
    display: block;
    background-color: #1b95a2;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
}

#active-useraccount-management{
    background-color: #1b95a2;
}