.body-management-unit-secretary{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

.contain-table-receive-request-issuance{
    width: 100%;
    overflow-y:hidden;
    overflow-x:auto;
}

.oval{
    width: 450px;
    height: 80px;
    background-color: #fed25c;
    border-radius: 50%;
    margin-left: 20px;
    padding-top: 27px;
    padding-left: 60px;
}

.triangle2{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 30.7px solid #fed25c; 
    transform: rotate(180deg);
    margin-left: 100px;
    margin-top: -15px;
}