#body-ARFIOE{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

#contain-yc-xin-cap-phoi-ARFIOE{
    width: 100%;
    overflow-y:hidden;
    overflow-x:auto;
}

#contain-table-show-dshv-ARFIOE{
    width: 100%;
    overflow-y:hidden;
    overflow-x:auto;
}

#contain-table-show-dshv-ARFIOE table{
    width: 1700px;
}
