#body-Statistical{
    /* padding-top: 10px; */
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

.info-statistical{
    width: 100%;
    margin: 0 auto;
    height: 140px;
    border-radius: 10px;
    padding: 20px
}

.count-statistical{
    color: white; 
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

.count-type-statistical{
    color: white; 
    font-size: 20px;
}

#nut-loc:hover{
    cursor: pointer;
    background-color: #548B54!important;
}