#body-MUP{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

#active-MUP{
    background-color: #1b95a2;
}

#table-show-diplomaNameByMU{
    border: 1px solid gainsboro;
    width: 100%;
}

#table-show-diplomaNameByMU tr{
    height: 50px;
    border: 1px solid gainsboro;
}

#table-show-diplomaNameByMU td, #table-show-diplomaNameByMU th {
    border: 1px solid gainsboro;
}

#table-show-diplomaNameByMU td{
    padding: 10px;
}

.item-selected-MUP{
    background-color: #1b95a2 !important;
    color: white !important;
}
