#logo-header{
    width: 80px;
    display: block;
    margin: 0 auto;
}

#btn-login-header{
    margin-top: 15px;
    display: block;
    float: right;
    background-color: #1fb5ed;
    border: 0px;
    font-weight: bold;
    font-size: 13px;
}

#btn-userinfor-login-header{
    margin-top: 15px;
    font-size: 13px;
    width: 100%;
    display: block;
    float: right;
    background-color: #1fb5ed;
    border: 0px;
    font-weight: bold;
    border-radius: 5px 0px 0px 5px;
}

#btn-show-logout{
    margin-top: 15px;
    display: block;
    border-radius: 0px 5px 5px 0px;
    background-color: #1fb5ed;
    border: none;
}

#btn-logout-header{
    display: none;
    width: 100%;
    color: black;
    border: none;
    font-size: 13px;
    border: 1px solid #e5e5e5;
}
