#body-request-reissue-for-secretary{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

#contain-request-reissue-forsecretary{
    width: 100%;
    overflow-y:hidden;
    overflow-x:auto;
}