#file-name-EGAF{
    font-family: 'Times New Roman', Times, serif;
    padding: 80px 90px;
    width: 1100px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

#show-file-name-EGAF{
    
    /* width: 1100px; */
    border: 1px solid #c1c1c1;
}

#table-file-name-EGAF{
    font-size: 24px;
    width: 100%;
    margin-top: 70px;
    border: 1px solid;
}

#table-file-name-EGAF th, #table-file-name-EGAF tr, #table-file-name-EGAF td{
    border: 1px solid;
    text-align: center;
}