#body-import-diploma{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}

#contain-table-show-diploma-ID{
    width: 100%;
    overflow-y:hidden;
    overflow-x:auto;
}



#table-show-diploma-ID{
    width: 1500px;
}

